@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
html,
body,
.root {
  height: 100%;
  font-family: "Quicksand", sans-serif;
}
body {
  line-height: 1.5;
}
body,
.app {
  background: white;
}

@media (min-width: 600px) {
  .bookshelf {
    padding: 0 20px 40px;
  }
}
