footer {
  z-index: 19;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 100%;
  bottom: 0rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 0 6px rgba(0, 0, 0, 0.23);
  background-color: white;
}
